body {
    font-family: 'Open Sans', sans-serif;
    font-weight: 500; /* Medium */
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

.navbar {
    background-color: #00728f;
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
}

.navbar-brand h1 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 800;
    color: white;
    margin-bottom: 0;
}

/* Text in the black navbar is pure white */
.navbar-dark .navbar-nav .nav-link {
    color: #fff;
}

.navbar a {
    color: white;
}

header {
    background-color: #00728f;
    color: white;
    text-align: center;
    padding: 1em 0;
}

nav {
    display: flex;
    justify-content: center;
    padding: 1em 0;
    background-color: #ddd;
}

nav a {
    margin: 0 1em;
    text-decoration: none;
    color: #333;
}

main {
    padding: 1em;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 1em 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}

footer a {
    color: #add8e6;
    text-decoration: none;
}

footer a:hover {
    color: #87ceeb;
}

/* New styles for register page as content is too long and adjusting to look like login page */
#register-form-container {
    max-width: 400px;
    margin: 20px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
}

/* Visibility for error message for registration */
.invalid-feedback {
    display: none; /* Hide by default */
}
.is-invalid + .invalid-feedback {
    display: block; /* Show when adjacent to an invalid input */
}

/* Override Boostrap Button Styles to match DWP style */

.btn-primary {
    background-color: #00728f; /* Match the blue of the header */
    border-color: #00728f;
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active {
    background-color: #005f6b; /* Slightly darker blue for hover state */
    border-color: #005f6b;
}

/* Override Link Styles */
a {
    color: #00728f; /* Match the blue of the header */
}

a:hover, a:focus, a:active {
    color: #005f6b; /* Slightly darker blue for hover state */
}

/* Override style for Logout Button */

.custom-logout-btn {
    background-color: #00728f; /* Match the blue of the header */
    color: white;
}

.custom-logout-btn:hover {
    background-color: #005f6a;
}

/* Adjusting FullCalendar sizes */

.fc-dayGridWeek-view .fc-scrollgrid { 
    max-height: 200px;
}

.fc-timeGridWeek-view .fc-timegrid-slot {
    height: 50px;
}

.fc-timeGridWeek-view .fc-scrollgrid { 
    max-height: 500px;
}

/* Targeting events in the week (days) view */
.fc-dayGridWeek-view .fc-event div {
    height: 100px;
}

/* Targeting the font in week (days) view */
.fc-dayGridWeek-view .fc-event div {
    height: 25px;
    font-size: 16px;
    color: #fff;
    text-align: center;
}
