{% extends 'base.html' %}

{% block content %}
<div class="container mt-2">
  <div class="row justify-content-center">
    <div class="col-md-8 text-center">
      <h1 class="mb-4">Welcome to Availability Tracker</h1>
      <p class="lead">This is your go-to app for managing work attendance and leave requests.</p>

      <h3>Attendance Summary for This Month:</h3>
      <!-- Canvas for Chart.js (for all users) -->
      <canvas id="attendanceChart" width="300" height="150"></canvas>

      {% if is_manager %}
        <!-- Additional Manager-specific content -->
        <div class="row mt-4">
            <div class="col-md-6">
                <h3>Monthly Attendance Summary</h3>
                <!-- Dropdown for selecting employee -->
                <select class="form-select" id="employeeSelector">
                    <option value="me">Me</option>
                    {% for employee in managed_employees %}
                        <option value="{{ employee.username }}">{{ employee.get_full_name }}</option>
                    {% endfor %}
                </select>
                <!-- Canvas for Monthly Chart.js -->
                <canvas id="monthlyAttendanceChart" width="200" height="75"></canvas>
            </div>
            <div class="col-md-6">
                <h3>Yearly Attendance Summary</h3>
                <!-- Canvas for Yearly Chart.js -->
                <canvas id="yearlyAttendanceChart" width="200" height="75"></canvas>
            </div>
        </div>
      {% endif %}
    </div>
  </div>
</div>

<script>
  var isManager = "{{ is_manager|yesno:'true,false' }}";
  var graphData = "{{ graph_data|safe }}";
  
  document.addEventListener('DOMContentLoaded', function() {
      // Ensure Chart.js is loaded
      if (typeof Chart === 'undefined') {
          console.error('Chart.js not loaded');
          return;
      }

      // Initialize the standard user's monthly attendance chart
      var ctx = document.getElementById('attendanceChart').getContext('2d');
      var attendanceData = JSON.parse('{{ attendance_counts | safe }}');
      var myChart = initializeChart(ctx, attendanceData, 'bar', 'Attendance Summary');

      if (isManager === "true") {
          // Initialize empty charts for manager's view
          var monthlyCtx = document.getElementById('monthlyAttendanceChart').getContext('2d');
          var yearlyCtx = document.getElementById('yearlyAttendanceChart').getContext('2d');
          var monthlyChart = initializeChart(monthlyCtx, {}, 'bar', 'Monthly Attendance Summary');
          var yearlyChart = initializeChart(yearlyCtx, {}, 'line', 'Yearly Attendance Summary');

          // Dropdown change event listener
          document.getElementById('employeeSelector').addEventListener('change', function() {
              var selectedUser = this.value;
              updateManagerCharts(selectedUser, monthlyChart, yearlyChart);
          });

          // Initial load for manager's own data
          updateManagerCharts('me', monthlyChart, yearlyChart);
      }
  });

  function initializeChart(ctx, data, type, label) {
      var labels = Object.keys(data);
      var backgroundColors = labels.map(label => attendanceTypeColors[label] || '#378006'); // might need to style this in css
      var borderColors = backgroundColors;

      return new Chart(ctx, {
          type: type,
          data: {
              labels: labels,
              datasets: [{
                  label: label,
                  data: Object.values(data),
                  backgroundColor: backgroundColors,
                  borderColor: borderColors,
                  borderWidth: 1
              }]
          },
          options: {
              scales: {
                  y: {
                      beginAtZero: true,
                      ticks: {
                          stepSize: 1
                      }
                  }
              },
              plugins: {
                  legend: {
                      display: false
                  },
                  tooltip: {
                      callbacks: {
                          label: function(context) {
                              var label = context.label;
                              var value = context.raw;
                              var fullName = attendanceTypeFullNames[label] || label;
                              return fullName + ': ' + value;
                          }
                      }
                  }
              }
          }
      });
  }

  function updateManagerCharts(username, monthlyChart, yearlyChart) {
      // Update charts using graphData
      var userData = graphData[username];
      if (userData) {
          // Update monthly chart
          monthlyChart.data.labels = userData.monthly.labels;
          monthlyChart.data.datasets[0].data = userData.monthly.data;
          monthlyChart.update();

          // Update yearly chart
          yearlyChart.data.labels = userData.yearly.labels;
          yearlyChart.data.datasets[0].data = userData.yearly.data;
          yearlyChart.update();
      } else {
          console.error('User data not found for:', username);
      }
  }
</script>
{% endblock %}

