{% extends 'base.html' %}

{% block content %}
<div class="container mt-2">
  <div class="row justify-content-center">
    <div class="col-md-8 text-center">
      <h1 class="mb-4">Welcome to Availability Tracker</h1>
      <p class="lead">This is your go-to app for managing work attendance and leave requests.</p>
      <h3>Attendance Summary for This Month:</h3>
      <!-- Canvas for Chart.js -->
      <canvas id="attendanceChart" width="300" height="150"></canvas>
    </div>
  </div>
</div>

<script>
  document.addEventListener('DOMContentLoaded', function() {
      // Ensure Chart.js is loaded
      if (typeof Chart === 'undefined') {
          console.error('Chart.js not loaded');
          return;
      }

      var ctx = document.getElementById('attendanceChart').getContext('2d');
      var attendanceData = JSON.parse('{{ attendance_counts | safe }}');
      console.log(attendanceData);
      var labels = Object.keys(attendanceData);
      var data = Object.values(attendanceData);

      // Color mapping for attendance types
      const attendanceTypeColors = {
          'WFH': '#28a745', // Green
          'IO': '#007bff', // Blue
          'AL': '#17a2b8', // Cyan
          'S': '#ffc107', // Yellow
          'FL': '#fd7e14', // Orange
          'NWD': '#6c757d', // Grey
          'BT': '#dc3545', // Red
          'T': '#6610f2' // Purple
      };

      // Full name mapping
      const attendanceTypeFullNames = {
        'WFH': 'Working From Home',
        'IO': 'In Office',
        'AL': 'Annual Leave',
        'S': 'Sick',
        'FL': 'Flexi Leave',
        'NWD': 'Non Working Day',
        'BT': 'Business Travel',
        'T': 'Training'
      };

      // Assign colors based on attendance type
      var backgroundColors = labels.map(label => attendanceTypeColors[label] || '#378006'); // Default color
      var borderColors = backgroundColors;

      var myChart = new Chart(ctx, {
          type: 'bar',
          data: {
              labels: labels, // Dynamic labels from attendanceData
              datasets: [{
                  label: 'Attendance Summary',
                  data: data, // Dynamic data from attendanceData
                  backgroundColor: backgroundColors,
                  borderColor: borderColors,
                  borderWidth: 1
              }]
          },
          options: {
              scales: {
                  y: {
                      beginAtZero: true,
                      ticks: {
                        stepSize: 1
                      }
                  }
              },
              plugins: {
                legend: {
                    display: false
                },
                tooltip: {
                    callbacks: {
                        label: function(context) {
                            var label = context.label;
                            var value = context.raw;
                            var fullName = attendanceTypeFullNames[label] || label;
                            return fullName + ': ' + value;
                        }
                    }
                }
              }
          }
      });
  });
</script>
{% endblock %}