{% extends 'base.html' %}

{% block content %}
<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-md-8 text-center">
      <h1 class="mb-4">Welcome to Availability Tracker</h1>
      <p class="lead">This is your go-to app for managing work attendance and leave requests.</p>
      <h3>Attendance Summary for This Month:</h3>
      <!-- Canvas for Chart.js -->
      <canvas id="attendanceChart" width="300" height="300"></canvas>
    </div>
  </div>
</div>

<script>
  document.addEventListener('DOMContentLoaded', function() {
      // Ensure Chart.js is loaded
      if (typeof Chart === 'undefined') {
          console.error('Chart.js not loaded');
          return;
      }

      var ctx = document.getElementById('myChart').getContext('2d');
      var attendanceData = JSON.parse('{{ attendance_counts | safe }}');
      var labels = Object.keys(attendanceData);
      var data = Object.values(attendanceData);

      // Color mapping for attendance types
      const attendanceTypeColors = {
          'WFH': '#28a745', // Green
          'IO': '#007bff', // Blue
          'AL': '#17a2b8', // Cyan
          'S': '#ffc107', // Yellow
          'FL': '#fd7e14', // Orange
          'NWD': '#6c757d', // Grey
          'BT': '#dc3545', // Red
          'T': '#6610f2' // Purple
      };

      // Assign colors based on attendance type
      var backgroundColors = labels.map(label => attendanceTypeColors[label] || '#378006'); // Default color
      var borderColors = backgroundColors;

      var myChart = new Chart(ctx, {
          type: 'bar',
          data: {
              labels: labels,
              datasets: [{
                  label: 'Days',
                  data: data,
                  backgroundColor: backgroundColors,
                  borderColor: borderColors,
                  borderWidth: 1
              }]
          },
          options: {
              scales: {
                  y: {
                      beginAtZero: true,
                      stepSize: 1,
                  }
              }
          }
      });
  });
</script>
{% endblock %}
