{% extends 'base.html' %}

{% block content %}
<div class="container mt-2">
    <div class="row">
        <!-- Employee List -->
        <div class="col-md-4">
            <h3>My Employees</h3>
            <ul class="list-group">
                {% for employee in managed_users %}
                <li class="list-group-item list-group-item-action employee-item" data-employee-id="{{ employee.id }}">
                    {{ employee.get_full_name }}
                </li>                
                {% empty %}
                <li class="list-group-item">No employees found.</li>
                {% endfor %}
            </ul>
        </div>

        <!-- Requests Table -->
        <div class="col-md-8">
            <h3>Employee Requests</h3>
            <div class="table-responsive scrollable-table">
                <table class="table table-striped table-hover">
                    <thead>
                        <tr>
                            <th>Type</th>
                            <th>Start Date</th>
                            <th>End Date</th>
                            <th>Status</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody id="requests-table-body">
                        <!-- Requests will be loaded here via JavaScript -->
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<!-- Cancel Request Modal -->
<div class="modal fade" id="cancelRequestModal" tabindex="-1" aria-labelledby="cancelRequestModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="cancelRequestModalLabel">Cancel Leave Request</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                Are you sure you want to cancel this leave request?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-danger" id="confirmCancel">Confirm Cancel</button>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block scripts %}
<script src="{% static 'manageRequests.js' %}"></script>
{% endblock %}