{% extends 'base.html' %}

{% block content %}
<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-md-6 text-center">
      <h2 class="mb-3">Registration Successful!</h2>
      <p>Welcome to the Availability Tracker! Your account has been successfully created.</p>
      <p>You will be redirected to the home page shortly.</p>
      <a href="{% url 'home' %}" class="btn btn-primary mt-3">Go to Home</a>
    </div>
  </div>
</div>

<script type="text/javascript">
  setTimeout(function() {
      window.location.href = "{% url 'home' %}";
  }, 5000); // Redirect after 5 seconds
  </script>
{% endblock %}