{% extends 'base.html' %}

{% block content %}
<div id="register-form-container" class="form-container">
    <h2>Account Register</h2>
    <form method="post">
        {% csrf_token %}
        {% for field in form %}
            <div class="form-group">
                <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                <div class="input-container">
                    {{ field }}
                  </div>
                    {% if field.help_text %}
                        <small class="help-text">{{ field.help_text }}</small>
                    {% endif %}
                </div>
                {% for error in field.errors %}
                    <p style="color: red;">{{ error }}</p>
                {% endfor %}
            </div>
        {% endfor %}
        <button type="submit">Register</button>
    </form>
</div>
{% endblock %}

<!-- adjusted px width for password on register to 250px -->