{% extends 'base.html' %}

{% block content %}
<!-- Bootstrap Modal for Session Timeout Warning -->
<div class="modal fade" id="sessionTimeoutModal" tabindex="-1" aria-label="sessionTimeoutModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="sessionTimeoutModalLabel">Session Timeout Warning</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                You have been inactive for 25 minutes. After 30 minutes, you will be logged out.
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" id="stayLoggedInBtn">Stay Logged In</button>
            </div>
        </div>
    </div>
</div>

<!-- Session Timeout Check -->
<script>
    // Function to get the CSRF token from cookies
    function getCSRFToken() {
        let cookies = document.cookie.split(';');
        for (let i = 0; i < cookies.length; i++) {
            let cookie = cookies[i].trim();
            if (cookie.startsWith('csrftoken=')) {
                return cookie.substring('csrftoken='.length, cookie.length);
            }
        }
        return '';
    }

    function checkSessionTimeout() {
        fetch('/session_timeout_warning/')
        .then(response => response.json())
        .then(data => {
            console.log("Time left: ", data.time_left);
            if(data.time_left <= 300) { // this is a 5 minute warning
             // if(data.time_left <= 30) { // testing this is a 30 second warning
                console.log("Showing modal");
                var timeoutModal = new bootstrap.Modal(document.getElementById('sessionTimeoutModal'));
                timeoutModal.show();
            }
        });
    }

    setInterval(checkSessionTimeout, 60000); // check every minute
    // setInterval(checkSessionTimeout, 10000); // testing check every 10 seconds

    // Event listener for the "Stay Logged In" button
    document.addEventListener('DOMContentLoaded', function() {
        var stayLoggedInBtn = document.getElementById('stayLoggedInBtn');
        stayLoggedInBtn.addEventListener('click', function() {
            fetch('/extend_session/', {
                method: 'POST',
                headers: {
                    'X-CSRFToken': getCSRFToken()
                }
            })
            .then(response => response.json())
            .then(data => {
             if (data.status === 'success') {
                    // Hide the modal
                    var timeoutModal = bootstrap.Modal.getInstance(document.getElementById('sessionTimeoutModal'));
                    timeoutModal.hide();
                }
            })
            .catch(error => console.error('Error:', error));
        });
});
</script>
{% endblock %}