{% load static %}

<!DOCTYPE html>
<html lang="en">
<head> 
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Availability Tracker</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">
</head>
<body>
    <header>
        <h1>Availability Tracker</h1>
    </header>
    <nav>
        <a href="#">Home</a>
        <a href="#">My Calendar</a>
        <a href="#">Leave Requests</a>
        <!-- Can add further links here -->
    </nav>
    <main>
        {% block content %}
        <!-- Content specific to each page will go here -->
        {% endblock %}
    </main>
    <footer>
        <p>Contact for help: <a href="mailto:admin@example.com">admin@example.com</a></p>
        <!-- Created footer a in styles.css to handle style of this email address -->
    </footer>
</body>
</html>
